# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

# Service Port Configuration
AXE_A11Y_SERVICE_PORT=9010
AXE_A11Y_VNC_PORT=5900

# VNC Access Configuration (Leave empty for no password)
AXE_A11Y_VNC_PASSWORD=

# Headless & Profile Configuration
AXE_A11Y_SERVICE_HEADLESS=true
AXE_A11Y_PROFILE_ENABLED=false
